.link:hover{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.menu-list{
    color: #48BB78;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
    transition: all ease-in-out 0.25s;
}
.menu-list:hover{
    background-color: #F0FFF4;
    cursor: pointer;
}
.menu-list:active{
    background-color: #C6F6D5;
}
@media only screen and (min-width: 0px){
    .mobile{
        height: auto;
        width: 100vw;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 760px){
    .mobile{
        margin: 30px auto 30px;
        width: 50%;
    }
}