html {
    height: 100%;
  }
  body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
  }
  
  .container {
    height: 100%;
    overflow: hidden;
    display: flex;
    
  }
  .container > aside {
    flex: none;
    min-width: 350px;
  }
  .container > main {
    flex: 1;
  }
  
  .resize-handle--x {
    flex: none;
    position: relative;
    box-sizing: border-box;
    width: 5px;
    height: 100%;
    cursor: col-resize;
    border-left: 1px solid #ccc;
    -webkit-touch-callout: none;
    user-select: none;

  }
  .resize-handle--x:hover,
  .resize-handle--x:active {
    border-color: lightblue;
    border-style: double;
  }