.landing-banner .swiper-button-prev {
  color: #0069a3;
}

.landing-banner .swiper-button-next {
  color: #0069a3;
}

.landing-banner .swiper-slide {
  margin: auto;
}

.main-content .swiper-slide {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.main-content .swiper-button-next {
  color: #0069a3;
}

.main-content .swiper-button-prev {
  color: #0069a3;
}
