.landing-banner .swiper-slide {
  margin: auto;
}

.main-content .swiper-slide {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 30px;
}

.main-content .swiper-pagination-bullet-active {
  background-color: #38a169 !important;
}
