.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calendarWrap {
  position: relative;
}

.calendarElement {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  border: 1px solid #ccc;
  border-radius: 2%;
  z-index: 999;
}

.static-calendar {
  border: 1px solid #ccc;
  border-radius: 2%;
}

.gallery-img {
  height: 500px;
}

.gallery-img img {
  object-fit: cover;
}

.gallery-img-tn {
  height: 70px;
}

.gallery-img-tn img {
  object-fit: cover;
}

@media only screen and (max-width: 640px) {
  .gallery-img {
    height: 200px;
  }
  .gallery-img-tn {
    height: 30px;
  }
  .gallery-img-tn img {
    object-fit: cover;
  }
  .gallery-img img {
    object-fit: cover;
  }
}

.pagination-container {
  display: flex;
  gap: 12px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid #2f855a;
  border-radius: 5px;
  color: #2f855a;
  font-weight: 600;
}

.pagination-link:hover {
  background-color: #f0fff4;
}

.pagination-link-active {
  color: white;
  background-color: #38a169;
  border: 1px solid #38a169;
}

.pagination-link-active:hover {
  background-color: #2f855a;
  border: 1px solid #2f855a;
}

.pagination-link-disabled {
  cursor: not-allowed;
}
